.header {
    text-align: center;
    color: white;
    /* font-weight: bold; */
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.logo {
    width: 90px;
    /* position: absolute; */
    left: 0;
}